@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

html {
    height: calc(100% - 3px);
}
body {
    background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url("../data/images/got_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
}

svg {
    width: 100%;
    height: 100%;
}

.link {
    fill: black;
    stroke: #666;
    stroke-width: 2px;
}

.node rect {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}
  
.text {
    font: 30px sans-serif;
    pointer-events: none;
}

.highlight.father {
    opacity: 1 !important;
    stroke: royalblue !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.legend_father {
    fill: royalblue;
}

.highlight.mother {
    opacity: 1 !important;
    stroke: violet !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.legend_mother {
    fill: violet;
}

.highlight.sibling {
    opacity: 1 !important;
    stroke: yellow !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.legend_sibling {
    fill: yellow;
}

.highlight.allegiance {
    opacity: 1 !important;
    stroke: seagreen !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.legend_allegiance {
    fill: seagreen;
}

.highlight.spouse {
    opacity: 1 !important;
    stroke: orange !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.legend_spouse {
    fill: orange;
}

.highlight.killed {
    opacity: 1 !important;
    stroke: tomato !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.legend_killed {
    fill: tomato;
}

.highlight.lover {
    opacity: 1 !important;
    stroke: rgb(189, 31, 128) !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.legend_lover {
    fill: rgb(189, 31, 128);
}